@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/********** Remove predefined margin and padding************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    }

body {
    background-color: #9b5f5f;
    color: #fafafa;
}

/************Header elements**************/

header nav {
    background-color: #fafafa;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#logo {
    height: 70px;
    width: 70px;
    margin-left: 25px;
}

/**********Form containing input and submit***********/
header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"], button[type="submit"] {
    border-color: #9b5f5f;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

/*********** contains transition to submit button and view recipe button *********/
form button[type="submit"], 
.recipe button {
    background-color: #9b5f5f;
    color: #fafafa;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

/***psudo property applied to search button****/
form button[type="submit"]:hover, 
.recipe button:hover, 
.recipe-close-btn:hover {
    background-color: #881d1d;
    color: #fff;
}


/**************Main section*************/

/************* style for recipe container***********/
.recipe-container {
    text-align: center;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 25px;
    place-items: center;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #9b5f5f;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgba(34, 33, 33, 0.925), 15px 15px 20px rgba(22, 21, 21, 0.815);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    transform: scale(1.05);
}

.recipe img {
    height: 300px;
    border-radius: 15px;
}

.recipe h3 {
    font-size: 24px;
    color: #8b3434;
    margin-block: 5px;
}

.recipe p {
    font-size: 20px;
    margin: 5px 0;
}

.recipe span {
    font-weight: 650;
}

.recipe button {
    background-color: #9b5f5f;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    color: #fff;
    border: none;
}


/*************** Recipe Details ***************/
.recipe-details {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #a36f6f;
    border-radius: 15px;
    width: 75%;
    height: 70%;
    font-size: 20px;
    transition: all 3s ease-in-out;
    overflow-y: scroll;
}

.recipe-details-content {
    padding: 100px;
    padding-top: 50px;
}

.recipeName {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
}

.ingredientList {
    margin-top: 10px;
    margin-left: 20px;
    line-height: 30px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;

}

.recipeName 
.ingredientList 
.recipeInstructions {
    margin-bottom: 20px;
}

/************** recipe-close-button****************************/

.recipe-close-btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #881d1d;
    font-weight: 900;
}

/****************** Adding scroll bar via webkits**************/
.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 15px;
    --webkit-border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #a07272;
}

body::-webkit-scrollbar-track {
    background-color: #524e4e;
}

/***** Responsive for mobile devices********/
@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80%;
        margin-top: 25px;
    }
}